<% include header2 %>
<div class="container">
<div class="jumbotron text-center"  style="padding:40px;">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Page Not Found <small>
          <br>
          <font face="Tahoma" color="red">Error 404</font></small></h1>
          <br />
          <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
      </div>
        <br />
  </div>
</div>
</div>
</div>