<footer>
	<div class="container">
		<div class="col-md-12 text-center">
			<div><small>&copy; 2017 - Hypertube - by <em>gdufeutr - jrosamon - tapostin</em>.</small></div>					
		</div>
	</div>
</footer>
</body>

</html>