<html>
<title>Welcome</title>
<body>
<video width="760" height="480" controls>
    <!--<source src="test/La Folle Histoire de Max et Leon 2016 French AC3 1080p HDLight x264.GHT.mp4" type="video/mp4"/>-->
    <source src="run/" type="video/mp4">
    <!--<source src="ron/" type='video/webm;codecs="vp8, vorbis"'>-->
    <!-- fallback -->
    Your browser does not support the <code>video</code> element.
</video>
</body>
</html>
<!--<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>-->
<!--<video width="320" height="240" controls>
    <source src="http://localhost:8080/something.flv" type="rtmp/flv">
    <!--<source src="movie.ogg" type="video/ogg">-->
<!--Your browser does not support the video tag.
</video>-->
</body>